In [59]:
#import dataset
import pandas as pd
df = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# create a copy of dataset
df_edit = df.copy()
df_edit

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# drop the columns with NaN
column_to_drop = ['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 11'] 
df_edit.drop(columns = column_to_drop)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024"
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F"
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024"
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024"
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_edit.drop(columns = column_to_drop)

In [65]:
df_edit.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024"
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F"
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024"
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024"
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024"

In [66]:
# remove all the rows have no values 
df_edit = df_edit.dropna(how='all') 
df_edit

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024"
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F"
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024"
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024"
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938"
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker

In [23]:
#Checking is we still have NaN columns
all_nan_rows = df_edit.isna().all(axis=1)
all_nan_rows

0       False
1       False
2       False
3       False
4       False
        ...
6939    False
6940    False
6941    False
6942    False
6943    False
Length: 6944, dtype: bool

In [75]:
#change the columns to lower case
df_edit.columns.str.lower()

AttributeError: 'Index' object has no attribute 'columns'

In [25]:
#df_edit.drop("df_edit['country'].isna()", "(df_edit['state'].isna()", "df_edit['location'].isna()"]

In [53]:
#df_edit['age'] = df_edit['age'].fillna(df_edit['age'].mean())

In [54]:
#format the datatype for column "year", we remove all decimals, and a dot "."
df_edit['year'] = df_edit['year'].astype('Int64')

KeyError: 'year'

In [28]:
#check year
df_edit['year'].value_counts()

KeyError: 'year'

In [29]:
#check datatypes
df_edit['year'].dtypes

KeyError: 'year'

In [30]:
#check year values which are  less 4 digits
less_than_4_digits = df_edit[df_edit['year'].astype(str).str.len() < 4]
less_than_4_digits

KeyError: 'year'

In [31]:
#edit date column
df_edit['date_cleaned'] = pd.to_datetime(df_edit['date'],errors='coerce',format = "%Y-%m-%d")
df_edit['date_cleaned']

KeyError: 'date'

In [32]:
#display 100 rows to check
pd.set_option('display.max_rows',None)

df_edit.sample(100)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
3781,Jan-1977,1977.0,Unprovoked,MEXICO,Guerrero,La Playa Hornos (near Acapulco),Swimming,Mexican male,M,NaN,"FATAL, left leg severed, neck cut",14h30,NaN,"A.Resciniti, p.107"
1038,20-May2015,2015.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Matthew Zaccaria,M,18,2 puncture wounds to dorsum of left foot,10h30,5' shark,"WFTV, 5/20/2015"
6729,1829,1829.0,Sea Disaster,CARIBBEAN SEA,NaN,Between St. Bart's and Saba,Wreck of the schooner Driver,Ned & Pawn,M,NaN,FATAL x 2,NaN,NaN,"The Times, 12/14/1829"
3980,25-Sep-1971,1971.0,Unprovoked,USA,North Carolina,"Emerald Isle, Carteret County",Surfing,J. Horner,NaN,17,Left foot injured,NaN,NaN,"F. Schwartz, p.23"
1752,06-Apr-2009,2009.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Umtentweni,Swimming,Odwa Hlanganisela,M,24,Body not recovered,Morning,Shark involvement not confirmed,"Daily Dispatch, 4/10/2009"
682,23-Oct-2017,2017.0,Unprovoked,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Swimming,Susan Peteka,F,60,Severe lacerations to left hand & wrist,08h00,NaN,"Palm Beach Post, 11/1/2017"
965,07-Oct-2015,2015.0,Unprovoked,AUSTRALIA,Western Australia,Pyramids Beach,Surfing,Eli Zawadzki,M,18,Foot injured,16h50,NaN,"Daily Mail, 10/7/2015"
3833,12-Aug-1975,1975.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Floating on a small orange raft,Henry Peterson,M,20,"Calf bitten, leg surgically amputated below th...",12h00,1.5 m [5'] shark,"NY Times, 8/17/1975, p.27"
1270,11-Jul-2013,2013.0,Unprovoked,USA,North Carolina,Holden Beach. Brunswick County,Wading,Barbara Corey,F,63,Right foot bitten,15h20,NaN,"C. Creswell, GSAF, WWAY-TV, 7/12/2013"
6273,29-Apr-1895,1895.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Mzimvubu River,"""Crossing the river""",Sombutize,M,28,"FATAL, right arm lacerated",12h00,NaN,"M. Levine, GSAF"
1402,02-Jun-2012,2012.0,Unprovoked,USA,Florida,"Bethune Beach, Volusia County",Surfing,Angelina DelRosso,F,12,Laceration to thigh,NaN,NaN,"J. Horton, West Volusia Bulletin, 6/6/2012"
4265,23-Jan-1965,1965.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Country Club Beach, Durban",Paddling rescue ski,Ronald Bowers,M,22,"No injury, ski bitten",13h00,"White shark, 3.7 m [12']","D. Davies, J. D'Aubrey & H. Haicker, ORI; M. L..."
2371,10-Jul-2003,2003.0,Unprovoked,BAHAMAS,Abaco Islands,Bakers Bay,Spearfishing,Richard Horton,M,58,Right thigh bitten,14h30,Unidentified species,"M. Levine, GSAF; Associated Press, 7/12/03"
4284,05-Nov-1964,1964.0,Watercraft,USA,Puerto Rico,NaN,Longline fishing,"18 hp Boston Whaler boat, occupant: G. W. Bane...",NaN,NaN,"No injury to occupant, shark bit propeller of ...",18h00,Mako shark,"G. W. Bane, Jr."
5156,1949,1949.0,Unprovoked,PAPUA NEW GUINEA,Bougainville (North Solomons),"Orava (Aravo) Islet , near Kieta.",Spearfishing,male,M,18,"FATAL, ""Nearly bitten in two through loin"".",NaN,NaN,"A. Bleakley; A. M. Rapson, p.148"
2680,14-Mar-2000,2000.0,Unprovoked,AUSTRALIA,New South Wales,"McMasters Beach, Central Coast",Surfing,Craig Ruth,M,NaN,No Injury,19h30,"Tiger shark, 4 m [13'] ?","Sydney Morning Herald, 3/16/2000"
5750,1928,1928.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Tugela River Mouth,Standing,N'gena Zakali,M,25,"Tissue of right thigh removed to the bone, bot...",11h00,NaN,"T. O. Niven, M. Levine, GSAF"
3455,03-Nov-1985,1985.0,Provoked,USA,California,5 miles south of Redondo Beach,Fishing,Brad Koune,M,24,Forearm bitten by hooked shark PROVOKED INCIDENT,NaN,NaN,"Los Angles Times, 11/5/1985"
862,Reported 14-Jul-2016,2016.0,Unprovoked,BAHAMAS,NaN,Tiger Beach,Scuba Diving,Michael Dornellas,M,NaN,Face bruised when partly blind shark collided ...,NaN,"Lemon shark, 9'","GrindTV, 7/14/2016"
138,25-Sep-2022,2022.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Central Beach, Plettenberg Bay",Swimming,Kimon Bisogno,F,39,FATAL,07h53,"White shark, 13'","Mirror, 9/25/2022"
1748,19-Apr-2009,2009.0,Unprovoked,USA,Florida,"Carlin Park, Jupiter Inlet",Surfing,Bruce Klinker,M,52,Left foot bitten,16h00,NaN,"UPI, 4/20/2009"
6268,Reported 16-Jul-1895,1895.0,Unprovoked,JAPAN,NaN,NaN,Hunting seals,William Lloyd,M,NaN,FATAL,NaN,NaN,"Morning News, 7/16/1895"
2931,09-Feb-1996,1996.0,Unprovoked,PAPUA NEW GUINEA,Madang Province,Madang,NaN,College student,NaN,NaN,Thigh,NaN,NaN,"Sunday Mail (QLD), 2/11/1996, p.28"
2424,28-Nov-2002,2002.0,Unprovoked,USA,California,"Salmon Creek, Sonoma County",Body boarding,Michael Casey,M,48,Both legs severely lacerated,09h45,3 m to 4.5 m [10' to 15'] white shark,"R. Collier, GSAF; Press Report: Santa Rosa Pre..."
772,11-Apr-2017,2017.0,Unprovoked,USA,Florida,"Ormond Beach, Volusia County",Surfing,Denise Holz-Oosterveld,F,35,Calf bitten,16h00,NaN,"WFTV, 4/11/2017"
2342,31-Oct-2003,2003.0,Unprovoked,USA,Hawaii,"Tunnels surf break off Makua Beach, Kaua'i",Surfing,Bethany Hamilton,F,13,Left arm severed below shoulder,07h30,"Tiger shark, 14'","E. Ritter, GSAF"
5207,Reported 13-May-1947,1947.0,Unprovoked,KENYA,Coast Province,"Kilindini Harbor, Mombasa",Swimming,merchant seaman,M,NaN,Knee grazed,NaN,NaN,"Sunday Tribune, 5/13/1947"
411,21-Mar-2020,2020.0,Unprovoked,AUSTRALIA,Queensland,Cairns,NaN,female,F,NaN,Arm injured,Midday,NaN,"B. Myatt, GSAF"
1581,27-Nov-2010,2010.0,Invalid,AUSTRALIA,Western Australia,Native Dog Beach,Swimming,Michael Utley,M,NaN,Death may have been due to drowning,NaN,Shark involvement not confirmed,"mailonline.com, 12/2/2010"
3245,19-Aug-1990,1990.0,Unprovoked,USA,Texas,"Near Port Aransas, Nueces County",Wade fishing,Jimmy Allen,M,18,Minor injury,13h30,NaN,"Dallas Morning News, 8//22/1990"
5474,02-Aug-1937,1937.0,Unprovoked,PANAMA,Colon Province,Limon Bay,Swimming,Jorge Fernandez,M,21,FATAL,NaN,NaN,"The Gleaner, 8/12/1937"
1479,19-Sep-2011,2011.0,Unprovoked,REUNION,Saint-Gilles,Boucan-Canot,Body boarding,Mathieu Schiller,M,38,FATAL,15h30,NaN,zinfos974
4688,Between 10 and 12-Sep-1959,1959.0,Watercraft,USA,California,Between False Klamath & mouth of Klamath River...,Pulling hooked salmon to boat,12 m fishing boat. Occupant: Henry Tervo,NaN,NaN,"No injury to occupant, shark struck stern of boat",15h30,"White shark, 3.5 m [11.5'], identified by W. I...","R. Collier, p.172"
4927,Mar-1955,1955.0,Unprovoked,PAPUA NEW GUINEA,"New Ireland, Bismarck Archipelago","Kabiman, West coast",Swimming with speared fish,"Lidua, a male",M,NaN,Left leg bitten,NaN,"""small brown-colored shark""",Namatanai Dept. of Public Health; A. M. Rapso...
1048,13-Apr-2015,2015.0,Unprovoked,USA,Florida,"Florida Keys, Monroe County",Photographing the shark,Mark Rackley,M,48,Lacerations to shoulder and left bicep,NaN,"Blue shark, 8 to 9 feet","Miami Herald, 4/25/2015"
2699,06-Dec-1999,1999.0,Invalid,BRAZIL,Rio de Janeiro,"Rio de Janeiro, Guanabara Bay",Spearfishing,Frederico NÃ³brega (aka Derico),M,39,Lateral right thigh bitten. Thought to involve...,09h30,Shark involvement not confirmed,L. A. Pereira
5815,22-Apr-1924,1924.0,Unprovoked,PANAMA,150 miles offshore,NaN,"Floating, after falling or jumping off the Sta...",Claremont L. Staden,M,21,"Reported to have had ""2 fights with sharks"" be...",NaN,NaN,"NY Times, 5/4/1924, p.14, col.3"
920,12-Feb-2016,2016.0,Unprovoked,DOMINICAN REPUBLIC,Altagracia Province,"Bavaro Beach, Punta Cana",Wading,Patricia Howe,F,NaN,Avulsion injury to lower leg,15h00,NaN,S. Harris
3070,31-Jan-1994,1994.0,Unprovoked,USA,Hawaii,"Velzyland, north shore of O'ahu",Surfing,Jim Broach,M,NaN,FATAL,NaN,Tiger shark,"G. Balazs; Allen, p.109"
2899,02-Sep-1996,1996.0,Unprovoked,USA,Florida,"Bethune Beach, Volusia County",Sitting on surfboard,Chris Volz,M,28,Small lacerations on left foot,13h25,NaN,"S. Petersohn, GSAF; Daytona Beach News Journal..."
1386,26-Jun-2012,2012.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Nickolaus Bieber,M,6,Thigh bitten,19h00,possibly a bull shark,"WPTV.com, 6/26/2012"
3782,29-Dec-1976,1976.0,Unprovoked,AUSTRALIA,Queensland,Caloundra,NaN,Graham Archall,M,NaN,Survived,NaN,NaN,"R. McKenzie, Sunday Mail, 9/6/1987, p.11"
2529,26-Aug-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie Boarding,Ben Gibbs,M,18,Thigh & foot bitten,16h00,NaN,"Miami Herald, 8/26/2001; S. Mussenden, Orlando..."
88,03-May-2023,2023.0,Unprovoked,SOUTH AFRICA,Easten Cape Province,"Supertubes, Jeffreys Bay",Surfing,male,M,50s,Leg injured,19h15,NaN,"News 24, 5/3/2023"
3893,14-Apr-1974,1974.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Glengariff,Standing,Simon Parkin,M,19,Lower right leg lacerated,15h30,NaN,"S. Parkin, M. Levine, GSAF; T. Wallett, p.40"
5057,29-Nov-1951,1951.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"South Beach, Durban",Swimming,Harold Tait,M,23,Thigh bruised & abraded,13h00,"White shark, 1.8 m [6']","G. Plowman, M. Levine, GSAF"
2590,11-Feb-2001,2001.0,Invalid,MALAYSIA,Off the western coast of peninsular Malaysia,Pulau Pangkor (Pangkor Island),Unknown,female,F,NaN,Bones recovered by fishermen in 300-kg [662-lb...,NaN,Shark involvement prior to death was not confi...,Associated Press
6569,Reported 14-Jul-1865,1865.0,Unprovoked,USA,Texas,Brazos,Bathing,Col. Bryant,M,NaN,FATAL,NaN,NaN,"Philadelphia Inquirer, 7/14/1865"
173,23-Jun-2022,2022.0,Unprovoked,USA,Florida,"Redington Beach, Pinellas County",NaN,female,F,NaN,Leg bitten,NaN,NaN,"A. Currie & R. Babington, GSAF"
5994,Jan-1913,1913.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island,Diving,"Treacle, a Torres Strait islander",M,NaN,"Head, neck & left shoulder bitten",NaN,Tiger shark,"N. Bartlett, pp.232-233; V.M. Coppleson (1958)..."
6699,27-Mar-1841,1841.0,Unprovoked,AUSTRALIA,New South Wales,"Cockatoo Island, Sydney",Bathing,Andrew Goggin,M,NaN,FATAL,14h00,NaN,"Sydney Gazette, 4/27/1841"
6453,14-May-1880,1880.0,Unprovoked,INDIA,West Bengal,Hoogly River,Bathing in river,a widow,F,60,"Hands, forearm & left thigh lacerated, radial ...",NaN,NaN,"V.M. Coppleson (1958), p.261, G.A. Llano, pp.1..."
6281,28-Nov-1894,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,"""Lost his arm""",Morning,10' to 12' shark,"Brisbane Courier, 1/7/1895, p.5"
3481,17-Jan-1985,1985.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Umbogintwini,Surfing,Bruce Eldridge,M,18,Thigh & calf bitten,18h30,"3.5 m white shark, tooth fragments recovered","B. Eldridge, M. Levine, GSAF; G. Charter & B. ..."
3859,09-Mar-1975,1975.0,Provoked,SOUTH AFRICA,Western Cape Province,"Boggomsbaai, Mossel Bay",Attempting to drag hooked shark ashore by its ...,Frans Swanepoel,M,NaN,Left leg bitten PROVOKED INCIDENT,NaN,1.5 m [5'] shark,"M. Levine, GSAF"
3346,Jul-1988,1988.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,Peter Albury,M,NaN,Lacerations to arm,NaN,NaN,"E. Pace, GSAF"
1982,30-Jun-2007,2007.0,Unprovoked,USA,California,"Will Rogers State Beach, Los Angeles County",Swimming,Katina Zinner,F,NaN,Hand bitten,10h00,NaN,R. Collier
2865,07-Jun-1997,1997.0,Unprovoked,BRAZIL,Rio de Janeiro,"Copacabana, Rio de Janeiro",Bathing,JosÃ© Luiz Lipiani,M,NaN,NaN,NaN,NaN,"Globo, 6/9/1997"
5638,30-Aug-1931,1931.0,Invalid,USA,Hawaii,NaN,NaN,Sadao Nakatus,M,NaN,"""Mysteriously disappeared"" His body was found ...",NaN,Shark involvement prior to death unconfirmed,"Middlesboro Daily News, 9//2/1931"
1950,03-Sep-2007,2007.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Jumping,female,F,12,Tiny punctures to arm,Morning,"18"" to 24"" shark","S. Petersohn, GSAF"
3628,16-Oct-1981,1981.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Surfing,Robert Keifling,M,17,Puncture wounds to left foot,NaN,NaN,"The Bulletin, 10/19/1981"
4398,06-Jan-1963,1963.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Selection Reef, Umdhloti",Spearfishing,Clive Passmore,M,24,Lacerations to right arm,16h00,"Zambesi shark, 2 m [6'9""]","D. Davies, p.117-118; C. Passmore, M. Levine, ..."
1737,31-May-2009,2009.0,Provoked,TAIWAN,Off Green Island,Onboard the fishing vessel Chin Sheng Fa 13,Fishing,Zhang Sanqian,M,46,Lacerations to knee & left lower leg by electr...,20h30,80 kg shark,"Taiwan News, 5/21/09"
6537,Reported 29-Aug-1871,1871.0,Unprovoked,USA,Hawaii,NaN,Fishing,male,M,NaN,Limbs severed,NaN,NaN,"The British Colonist, 8/29/1871"
534,02-Feb-2019,2019.0,Watercraft,SOUTH AFRICA,KwaZulu-Natal,Mtunzini,Fishing,2 males,M,NaN,"No injury to occupants, shark bit pontoon cau...",NaN,NaN,"Zululand Observer, 2/4/2019"
1307,21-Mar-2013,2013.0,Unprovoked,BAHAMAS,Eleuthera,Savannah Sound,Fly fishing,Kerry Anderson,M,50,Left foot bitten,NaN,NaN,"13wham.com, 3/22/2013"
726,22-Jul-2017,2017.0,Unprovoked,USA,Florida,"Snipes Point, Monroe County",NaN,female,F,40,Foot bitten,12h30,"""A small shark""","NBC Miami, 7/23/2017"
2814,08-Mar-1998,1998.0,Unprovoked,USA,Florida,"Loggerhead Park, Juno Beach, Palm Beach County",Swimming or paddle boarding,Rick Welch,M,32,6 puncture wounds to right calf,Morning,5' spinner shark,"Jupiter Courier, 3/11/1998"
6223,Reported 26-Jul-1898,1898.0,Invalid,AUSTRALIA,New South Wales,Sydney,Swimming after their boat capsized,Martin Gunner,M,NaN,"Reported fatal, but this is a questionable inc...",NaN,Questionable,"Brisbane Courier, 7/26/1898"
482,22-Jul-2019,2019.0,Unprovoked,USA,Rhode Island,"Moonstone Beach, South Kingstown, Washington C...",Surfing,Chase Clary,M,18,Foot bitten,18h30,Sandtiger shark,"K. McMurray, TrackingSharks.com"
882,04-Jun-2016,2016.0,Unprovoked,EGYPT,Suez,Ain Sokhna,Swimming,Omar Abdel Qader,M,23,"Leg severely bitten, surgically amputated abov...",Morning,Mako shark,"Ahram Online, 6/4/2016"
2877,03-Feb-1997,1997.0,Watercraft,AUSTRALIA,New South Wales,"Iron Cove, Sydney",Rowing,Andree Moscari,F,49,"Bruised, when shark struck scull & catapulted ...",NaN,NaN,"J. Delvecchio & D. Sygall, Sydney Morning Hera..."
5107,09-Apr-1950,1950.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Off Port Elizabeth breakwater,"Fishing, sitting in stern of small boat, feet ...",male,M,NaN,"Shark bit foot, removing 2 toes",NaN,2.13 m shark,Port Elizabeth Museum Archives
2746,14-Mar-1999,1999.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,Ouvea,Spearfishing,Blaise Wouanena,M,NaN,Multiple injuries,Morning,200 to 300 kg shark,"W. Leander; Les Nouvelles Caledoniennes, 3/15/..."
1255,11-Aug-2013,2013.0,Unprovoked,USA,South Carolina,Folly Beach,Surfing,Tyson Royston,M,10,"No injury, shark became entangled in his surfb...",17h30,"Bull shark, 8'","Post and Courier, 8/11/2013"
5543,30-Mar-1935,1935.0,Unprovoked,AUSTRALIA,Queensland,Barrier Reef off Mackay,Diving from dinghy for trochus shell,"Samuel, a Thursday islander",M,NaN,Buttocks injured by fin or a bump,Afternoon,NaN,"G.P. Whitley citing the Sydney Morning Herald,..."
4372,11-Jul-1963,1963.0,Provoked,USA,Mississippi,Horn Island,"Fishing, on charter boat Silver Dollar","James Ronald Mason, deckhand",M,24,"Cuts on right hand, PROVOKED INCIDENT",NaN,1.2 m [4'] shark,"Gulfport Herald, 7/12/1963; SAF Case #1218"
5555,31-Dec-1934,1934.0,Unprovoked,AUSTRALIA,New South Wales,Georgeâ€™s River at Kentucky,Splashing,Beryl Morrin,F,13,Hands severed,20h15,"Tiger shark, 1.5 m [5']","V.M. Coppleson (1958), pp.67 & 233; A. Sharpe,..."
810,06-Dec-2016,2016.0,Provoked,AUSTRALIA,New South Wales,Merimbula,Surf fishing,Jesse Phillips,M,20,Lacerations to both hands while attempting to ...,02h00,"Wobbegong shark, 2m",Bay 93.9 Geelong
5230,19-Apr-1946,1946.0,Unprovoked,AUSTRALIA,Queensland,"Trinity Beach, Cairns",Swimming,Robert McAuliffe,M,17,FATAL,13h30,NaN,"J. Croucher; G.P. Whitley (1951), p.193; V.M. ..."
2846,14-Aug-1997,1997.0,Unprovoked,MEXICO,Quintana Roo,"Santa Rosa, Cozumel",SCUBA diving,Mac Lupold,M,33,"FATAL, arm & leg severed",NaN,"Tiger shark, 5.2 m [17']","Charlotte Observer, 8/22/2997, p.7C & 8C; York..."
342,21-Oct-2020,2020.0,NaN,USA,North Carolina,"Emerald Isle, Carteret County",Surfing,Erik Martynuik,M,NaN,Laceration to knee and foot,Sunset,Shark involvement not confirmed,"C. Creswell, GSAF"
5846,14-Dec-1922,1922.0,Unprovoked,USA,Puerto Rico,San Juan,Bathing,Katherine W. Bourne,F,NaN,"FATAL, hip & thigh bitten with tissue removed...",NaN,NaN,"L.A. Times, 12/17/1922; V.M. Coppleson (1958),..."
4104,Reported 11-Apr-1968,1968.0,Unprovoked,PAPUA NEW GUINEA,Gulf Province,Orokolo Bay,Swimming,Hukolapa Laiokeke,M,7,FATAL Laceration to chest,NaN,NaN,"The Age, 4/11/1968, p.4"
3323,07-Nov-1988,1988.0,Sea Disaster,AUSTRALIA,Queensland,"Off North Keppel Island, off Yeppoon","The Christie V sank on 11/6/1988, survivors we...",Cedric Coucom,M,62,FATAL,Nightfall,NaN,"H. Edwards, pp.115-116"
1722,22-Jul-2009,2009.0,Unprovoked,USA,North Carolina,Holden Beach. Brunswick County,Swimming,Julia Anne Mittleberg,F,26,Laceration to left foot,15h00,NaN,"C. Creswell, GSAF"
4766,Oct-1958,1958.0,Unprovoked,PAPUA NEW GUINEA,West New Britain Province,"East Nakanai, Talasea",Collecting shells,male,M,26,Leg & foot injured,NaN,NaN,"A.M. Rapson, p.149"
1629,03-Jul-2010,2010.0,Provoked,USA,New York,Off Long Island,Fishing,Frank Joseph,M,20,Laceration to right bicep by hooked shark PROV...,12h30,"Blue shark, 7'",NBC
4341,Jan-1964,1964.0,Invalid,NEW ZEALAND,North Island,White Island,Snorkeling,J.H. Seddon,M,NaN,No injury,07h30,Invalid,"H.D.Baldridge (1994) ISAF Case #1484, Note: Un..."
1685,16-Nov-2009,2009.0,Unprovoked,USA,California,"Loch Lomond, Marin County",Fishing,James White,M,31,Puncture wounds and minor lacerations to dorsa...,16h45,Thresher shark,"R. Collier, GSAF"
2579,08-Apr-2001,2001.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Cape St. Francis,Surfing,Dunstan Hogan,M,46,"Thigh, hip & buttock bitten",09h30,"White shark, 2.7 m [9']","M. Smale, P.E. Museum"
6386,17-Jun-1886,1886.0,Unprovoked,AUSTRALIA,Queensland,Off Bribie Heads,Swimming after being washed overboard,Lacoon,M,18,FATAL,NaN,NaN,"Brisbane Courier, 6/21/1886"
2921,07-May-1996,1996.0,Unprovoked,USA,Florida,"Shark Shallows, Ponce Inlet, Volusia County",Surfing,Jimmy Grunewald,M,27,Left foot & leg bitten,11h06,60 cm to 90 cm [2' to 3'] blacktip or spinner ...,"S. Petersohn, GSAF; G. Nansen; P.LaMee, Orlan..."
2911,10-Jul-1996,1996.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,Andrew Lewis,M,18,Right foot bitten,13h45,NaN,"S. Petersohn, GSAF"
4773,27-Jul-1958,1958.0,Unprovoked,USA,Florida,"9 miles north of Turtle Beach, Siesta Key, Sar...","Swimming, ducking for shells in water 0.9 m deep",Robert Lawton (brother & rescuer),M,12,3 lacerations on leg,16h10,"Tiger shark, 1.5 m to 1.8 m [5' to 6']","E. Clark & M. Vorenberg, GSAF. R. Skocik, pp.1..."
3468,25-Jul-1985,1985.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Wading,Robin Lyons,F,13,Right calf bitten,17h00,Possibly a small hammerhead shark,"M. McKee,Orlando Sentinel, 7/30/1985, p.A1"
3705,21-Dec-1979,1979.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Kenton-on-Sea,Swimming,Carl Shemaly,M,18,Shin lacerated,16h20,NaN,"M. Bowker; W. Pople, NSB"
4098,Jun-1968,1968.0,Unprovoked,ENGLAND,NaN,NaN,NaN,Roy Cloke,M,NaN,Arm severely lacerated,NaN,Blue shark,"H.D. Baldridge (1994), SAF Case #1515"
4269,Summer 1965,1965.0,Unprovoked,USA,Texas,"Port Lavaca, Calhoun County",Dangling feet in the water,Thomas Darilek,M,13,Foot bitten,NaN,NaN,"Victoria Advocate, 7/11/2011"
4373,Reported 10-Jul-1963,1963.0,Sea Disaster,JAMAICA,NaN,NaN,63' fishing boat Sno' Bay foundered,40 people were onboard,NaN,NaN,No survivors & a body sighted could not be rec...,NaN,NaN,"The Blade (Toledo, OH), 7/10/1963"

In [ ]:
#function to convert the date to the right format
def parse_dates(date):
    for fmt in ("%d %b %Y", "%d-%b-%Y"):  
        try:
            return pd.to_datetime(date, format=fmt)
        except ValueError:
            continue
    return pd.NaT  

df_edit['date'] = df_edit['date'].apply(parse_dates)

In [ ]:
df_edit.head()

,date,year,type,country,state,location,activity,name,sex,age,injury,time,species,source,date_cleaned
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",2024-03-15
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",2024-03-04
2,NaT,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaT
3,NaT,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaT
4,NaT,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaT

In [33]:
# "dt.year" to extract year 
df_edit['year_cleaned']=df_edit['date_cleaned'].dt.year

KeyError: 'date_cleaned'

In [34]:
#display 50 rows to check
pd.set_option('display.max_rows',50)
df_edit

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024"
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F"
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024"
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024"
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938"
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker

In [35]:
#drop columns 'date', 'year'
df_edit = df_edit.drop(columns=['date', 'year'])
df_edit.head()

KeyError: "['date', 'year'] not found in axis"

In [36]:
#drop rows with 'NaT' and 'NaN' in 'date_cleaned' and	'year_cleaned'
df_edit = df_edit.dropna(subset=['date_cleaned', 'year_cleaned'])
# Display the first few rows of the DataFrame
df_edit.head()

KeyError: ['date_cleaned', 'year_cleaned']

In [37]:
# Convert 'year_cleaned' to integer, removing decimals
df_edit['year_cleaned'] = df_edit['year_cleaned'].astype(int)

# Display the first few rows of the DataFrame
df_edit.head()

KeyError: 'year_cleaned'

In [38]:
#split dataset into categorical and numerical
categorical_data = df[["Type","Country","State","Location","Activity","Name","Sex","Injury","Unnamed: 11","Source"]]
numerical_data = df[["Date","Year","Age","Time"]]

In [39]:
#basic statistics for categorical_data:
categorical_data.describe()

,Type,Country,State,Location,Activity,Name,Sex,Injury,Unnamed: 11,Source
count,6926,6894,6462,6379,6358,6724,6365,6909,6382,6925
unique,12,225,902,4514,1587,5683,8,4079,12,5302
top,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,FATAL,N,"K. McMurray, TrackingSharks.com"
freq,5107,2538,1178,191,1121,680,5578,863,4832,131

In [ ]:
#describe the unique values of each categorical column 
categorical_data.nunique()

Type             12
Country         225
State           902
Location       4514
Activity       1587
Name           5683
Sex               8
Injury         4079
Unnamed: 11      12
Source         5302
dtype: int64

In [ ]:
#basic statistics for numerical_data:
numerical_data.describe()

              Year
count  6942.000000
mean   1934.403342
std     272.920956
min       0.000000
25%    1947.000000
50%    1985.000000
75%    2009.000000
max    2024.000000

In [40]:
numerical_data.nunique()

Date    6003
Year     259
Age      243
Time     410
dtype: int64

In [ ]:
#Explore "Type" of attacks
typeof = df["Type"].value_counts()
typeof_sorted = typeof.sort_index(ascending = False)
typeof_sorted

Type
Watercraft              355
Unverified                1
Unprovoked             5107
Under investigation       1
Unconfirmed               1
Sea Disaster            242
Questionable             22
Provoked                635
Invalid                 552
Boat                      7
?                         1
 Provoked                 2
Name: count, dtype: int64

In [41]:
#Explore Country
country = df["Country"].value_counts()
country_sorted = country.sort_index(ascending = True)
country_sorted

Country
 PHILIPPINES          1
 TONGA                3
ADMIRALTY ISLANDS     1
AFRICA                1
ALGERIA               1
                     ..
VIETNAM              15
WEST INDIES           2
WESTERN SAMOA         1
YEMEN                 2
YEMEN                 7
Name: count, Length: 225, dtype: int64

In [42]:
# Convert all values in the 'country' column to lower case and remove empty spaces before and after
df_edit['country'] = df_edit['country'].str.lower().str.strip()

KeyError: 'country'

In [44]:
# Create a list from the NumPy array (assuming it's not already a pandas Series)
#data = list(data) 
# Clean the data using a list comprehension 
#cleaned_data = [ item.strip().lower().replace(' ', ' ').replace('/', ' or ') 
# Handle non-breaking spaces, lowercase, replace '/' with 'or'
#for item in data if not pd.isna(item) 
# Remove NaN values (if present) ] print(cleaned_data)

In [45]:
# Convert all values in the 'location' column to lower case and remove empty spaces before and after
df_edit['location'] = df_edit['location'].str.lower().str.strip()
df_edit['location'].value_counts()

KeyError: 'location'

In [46]:
# Convert all values in the 'location' column to lower case and remove empty spaces before and after
df_edit['activity'] = df_edit['activity'].str.lower().str.strip()
df_edit['activity'].value_counts()

KeyError: 'activity'

In [47]:
df_edit

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024"
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F"
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024"
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024"
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938"
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker

In [48]:
import seaborn as sns 
# For continuous variables: Histogram
sns.histplot(df_edit['year_cleaned'], bins=100)

KeyError: 'year_cleaned'

In [ ]:
# For continuous variables: Histogram
sns.histplot(df_edit['year'], bins=50)
sns.countplot(x='country', data=df_edit)